# Importation des données

In [15]:
import glob # Permet de rechercher tous les chemins ayant le motif spécifié
import numpy as np
import pandas as pd

import cv2 # Open CV

In [16]:
# On recherche tous les .jpg dans les dossiers de niveau +2 (données d'entrainement et test)
path_images_train_test = glob.glob(pathname='*/'+ '*/'+ '*/' + '*/'+ '*.jpg')

In [17]:
# On recherche tous les JPG dans les dossiers de niveau +1 (données de prédiction)
path_images_pred = glob.glob(pathname='*/'+ '*/'+ '*/' + '*.jpg')

# Extraction d'informations des données

In [18]:
# On affiche le nombre d'images trouvées pour chaque jeu de données
print(f"data_train_&_test: {len(path_images_train_test)}")

print(f"data_pred: {len(path_images_pred)}")

data_train_&_test: 17034
data_pred: 7301

In [19]:
# On crée un dataframe en fonction de la liste "path_images_train_test"
data_train_test = pd.DataFrame({'path_image':path_images_train_test}) 

# On crée un dataframe en fonction de la liste "path_images_pred"
data_pred = pd.DataFrame({'path_image':path_images_pred})

In [20]:
print("Jeu de données Entrainement et Test")
display(data_train_test)
print("\n\n")
print("Jeu de données Prédiction")
display(data_pred)

Jeu de données Entrainement et Test

                                       path_image
0      archive/seg_test/seg_test/forest/23933.jpg
1      archive/seg_test/seg_test/forest/23728.jpg
2      archive/seg_test/seg_test/forest/24047.jpg
3      archive/seg_test/seg_test/forest/23700.jpg
4      archive/seg_test/seg_test/forest/24251.jpg
...                                           ...
17029    archive/seg_train/seg_train/sea/9058.jpg
17030   archive/seg_train/seg_train/sea/12249.jpg
17031   archive/seg_train/seg_train/sea/17331.jpg
17032   archive/seg_train/seg_train/sea/11026.jpg
17033    archive/seg_train/seg_train/sea/3561.jpg

[17034 rows x 1 columns]

Jeu de données Prédiction

                               path_image
0        archive/seg_pred/seg_pred/63.jpg
1     archive/seg_pred/seg_pred/24084.jpg
2     archive/seg_pred/seg_pred/13628.jpg
3      archive/seg_pred/seg_pred/3578.jpg
4     archive/seg_pred/seg_pred/10321.jpg
...                                   ...
7296  archive/seg_pred/seg_pred/16749.jpg
7297  archive/seg_pred/seg_pred/15240.jpg
7298   archive/seg_pred/seg_pred/7707.jpg
7299   archive/seg_pred/seg_pred/6419.jpg
7300   archive/seg_pred/seg_pred/1376.jpg

[7301 rows x 1 columns]

# Création de la variable "set"

In [21]:
'''On crée une variable 'set' en fonction de la variable "path_images_train_test", 
et on recupère le nom du set en utilisant split'''
data_train_test['set'] = data_train_test['path_image'].apply(lambda x: x.split('/')[2])


'''On crée une variable 'set' en fonction de la variable "path_images_pred", 
et on recupère le nom du set en utilisant split'''
data_pred['set'] = data_pred['path_image'].apply(lambda x: x.split('/')[2])

# Création de la variable "category"

In [22]:
'''On crée une variable 'category' en fonction de la variable "path_images_train_test",
et on recupère le nom du la catégorie en utilisant split'''
data_train_test['category'] = data_train_test['path_image'].apply(lambda x: x.split('/')[3])


'''On crée une variable 'category' en fonction de la variable "path_images_pred",
et on ne met rien, la catégorie des données de prédiction étant la variable à discriminer'''
data_pred['category'] = ""

# Création de la variable "name"

In [23]:
'''On crée une variable 'name' en fonction de la variable "path_images_train_test",
et on recupère le nom d'image en utilisant split'''
data_train_test['name'] = data_train_test['path_image'].apply(lambda x: x.split('/')[-1].split('.')[0])


'''On crée une variable 'name' en fonction de la variable "path_images_pred",
et on recupère le nom d'image en utilisant split'''
data_pred['name'] = data_pred['path_image'].apply(lambda x: x.split('/')[-1].split('.')[0])

# Création de la variable "extension"

In [24]:
'''On crée une variable 'extension' en fonction de la variable "path_images_train_test",
et on recupère l'extention en utilisant split'''
data_train_test['extension'] = data_train_test['path_image'].apply(lambda x: x.split('.')[-1])


'''On crée une variable 'extension' en fonction de la variable "path_images_pred",
et on recupère l'extention en utilisant split'''
data_pred['extension'] = data_pred['path_image'].apply(lambda x: x.split('.')[-1])

# Récupération des information de dimension des données (width, height, size)

In [25]:
'''On crée 3 listes pour récuperer les différentes informations de 
la taille des images (hauteur, largeur et nombre de dimension)'''
img_width_train_test, img_height_train_test, img_dim_train_test,  img_size_train_test = [],[],[],[]

'''Pour chaque image dans 'path_images_train_test',
on lit l'image puis on stocke les infos dans chaque liste respectives'''
for image in path_images_train_test:
    img = cv2.imread(image, cv2.IMREAD_COLOR)
    img_width_train_test.append(img.shape[0])
    img_height_train_test.append(img.shape[1])
    img_dim_train_test.append(img.shape[2])
    img_size_train_test.append(str(img.shape[0]) + ' x ' + str(img.shape[1]))
    
    
'''On crée 3 listes pour récuperer les différentes informations de 
la taille des images (hauteur, largeur et nombre de dimension)'''
img_width_pred, img_height_pred, img_dim_pred, img_size_pred = [],[],[], []

'''Pour chaque image dans 'path_images_pred',
on lit l'image puis on stocke les infos dans chaque liste respectives'''
for image in path_images_pred:
    img = cv2.imread(image, cv2.IMREAD_COLOR)
    img_width_pred.append(img.shape[0])
    img_height_pred.append(img.shape[1])
    img_dim_pred.append(img.shape[2])

    img_size_pred.append(str(img.shape[0]) + ' x ' + str(img.shape[1]))

# On regroupe respectivement les dataframes "data_train_test" et "data_pred" avec les informations de dimension

In [26]:
'''On regroupe le dataframe 'data_train_test' avec un nouveau dataframe contenant les informations 
des listes créees précedement'''
data_train_test = pd.concat([data_train_test,
                            pd.DataFrame({'width':img_width_train_test, 
                                          'height':img_height_train_test, 
                                          'dim':img_dim_train_test,
                                          'size':img_size_train_test})], axis=1)


'''On regroupe le dataframe 'data_pred' avec un nouveau dataframe contenant les informations 
des listes créees précedement'''
data_pred = pd.concat([data_pred,
                       pd.DataFrame({'width':img_width_pred,
                                     'height':img_height_pred,
                                     'dim':img_dim_pred,
                                     'size':img_size_pred})], axis=1)

In [27]:
print("Jeu de données Entrainement et Test")
display(data_train_test)
print("\n\n")
print("Jeu de données de Prédiction")
display(data_pred)

Jeu de données Entrainement et Test

,path_image,set,category,name,extension,width,height,dim,size
0,archive/seg_test/seg_test/forest/23933.jpg,seg_test,forest,23933,jpg,150,150,3,150 x 150
1,archive/seg_test/seg_test/forest/23728.jpg,seg_test,forest,23728,jpg,150,150,3,150 x 150
2,archive/seg_test/seg_test/forest/24047.jpg,seg_test,forest,24047,jpg,150,150,3,150 x 150
3,archive/seg_test/seg_test/forest/23700.jpg,seg_test,forest,23700,jpg,150,150,3,150 x 150
4,archive/seg_test/seg_test/forest/24251.jpg,seg_test,forest,24251,jpg,150,150,3,150 x 150
...,...,...,...,...,...,...,...,...,...
17029,archive/seg_train/seg_train/sea/9058.jpg,seg_train,sea,9058,jpg,150,150,3,150 x 150
17030,archive/seg_train/seg_train/sea/12249.jpg,seg_train,sea,12249,jpg,150,150,3,150 x 150
17031,archive/seg_train/seg_train/sea/17331.jpg,seg_train,sea,17331,jpg,150,150,3,150 x 150
17032,archive/seg_train/seg_train/sea/11026.jpg,seg_train,sea,11026,jpg,150,150,3,150 x 150
17033,archive/seg_train/seg_train/sea/3561.jpg,seg_train,sea,3561,jpg,150,150,3,150 x 150

Jeu de données de Prédiction

,path_image,set,category,name,extension,width,height,dim,size
0,archive/seg_pred/seg_pred/63.jpg,seg_pred,,63,jpg,150,150,3,150 x 150
1,archive/seg_pred/seg_pred/24084.jpg,seg_pred,,24084,jpg,150,150,3,150 x 150
2,archive/seg_pred/seg_pred/13628.jpg,seg_pred,,13628,jpg,150,150,3,150 x 150
3,archive/seg_pred/seg_pred/3578.jpg,seg_pred,,3578,jpg,150,150,3,150 x 150
4,archive/seg_pred/seg_pred/10321.jpg,seg_pred,,10321,jpg,150,150,3,150 x 150
...,...,...,...,...,...,...,...,...,...
7296,archive/seg_pred/seg_pred/16749.jpg,seg_pred,,16749,jpg,150,150,3,150 x 150
7297,archive/seg_pred/seg_pred/15240.jpg,seg_pred,,15240,jpg,150,150,3,150 x 150
7298,archive/seg_pred/seg_pred/7707.jpg,seg_pred,,7707,jpg,150,150,3,150 x 150
7299,archive/seg_pred/seg_pred/6419.jpg,seg_pred,,6419,jpg,150,150,3,150 x 150
7300,archive/seg_pred/seg_pred/1376.jpg,seg_pred,,1376,jpg,150,150,3,150 x 150

# SAUVEGARDE DES DONNEES

In [28]:
data_train_test.to_csv("data_train_test", index=False)

data_pred.to_csv("data_pred", index=False)